.home
    &__content
        padding-top: 30px
        display: flex
        justify-content: center
    &__item
        display: flex
        
        border-bottom: 1px solid #c7c3c3
        margin-bottom: 15px
    &__img
        width: 20px
        height: 15px
    &__base
        display: flex
        align-items: center
    &__wrapper
        padding-left: 20px
        padding-right: 20px
        border-radius: 10px
