.header
    padding-top: 10px
    &__wrapper
        display: flex
        align-content: center

.logo
    display: flex
    align-items: center

.nav
    margin: auto
    padding-right: 60px
    &__list
        width: 400px
        display: flex
        justify-content: space-between

.register
    display: flex
    align-items: center