.sidebar
    text-align: center
    width: 30%
    padding-bottom: 25px
    &__title
        padding-top: 20px
        padding-bottom: 20px
    &__list
        display: inline-block
        margin: auto
    &__item
        display: flex
        justify-content: flex-start
        border-bottom: 1px solid #333
        &-wrapper
            display: flex
            align-items: center
    &__img
        max-width: 20px
        max-height: 15px