*
    padding: 0
    margin: 0
    box-sizing: border-box
    color: #333
body
    background: #e5f9fa
    color: #333

.container
    max-width: 1200px
    margin: auto
    padding: 0 15px
    border-radius: 6px
    background: #fff
    box-shadow: -1px 1px 20px 2px rgba(34, 60, 80, 0.2)

.wrapper
    box-shadow: -1px 1px 20px 2px rgba(34, 60, 80, 0.2)
    border-radius: 6px


ul
    list-style: none
    display: inline-block
a 
    text-decoration: none
    color: #333

.content
    padding-top: 40px
    padding-bottom: 40px
    display: flex
    justify-content: space-between
    &__wrapper
        width: 67%
        padding: 10px

